<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeevesandroid"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For the maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1I4mF6dGlLQRN_53F-uTmYbAu7PvFIrI" />

        <!-- Start the Main Activity again on reboot -->
        <receiver
            android:name=".login.StartUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignInActivity"
            android:parentActivityName=".login.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".WelcomeActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".ActivityService"
            android:enabled="true"
            android:exported="true"
            android:permission="" />
        <!-- Stops it restarting -->
        <receiver android:name=".actions.SurveyAction$MissedSurveyReceiver" />

        <service android:name=".actions.SurveyAction$NotificationActionService" />
        <service
            android:name=".ActionExecutorService"
            android:enabled="true"
            android:exported="true"
            android:permission="" />

        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".WelcomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MissedSurveyActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".SurveyActivity"
            android:parentActivityName=".MissedSurveyActivity" />
        <activity
            android:name=".MonitorActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".login.SignUpActivity"
            android:label="Jeeves"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".login.StudySignupActivity"
            android:label="Jeeves"
            android:windowSoftInputMode="adjustNothing" />

        <service android:name=".SenseService$NotificationActionService" />
        <service
            android:name=".SenseService"
            android:enabled="true"
            android:exported="true"
            android:permission="" />

        <activity
            android:name=".login.DeletedActivity"
            android:label="Jeeves"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f63d6f8855ad665342d5a90a1a16efb13da9cf5c" />

        <activity
            android:name=".PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".WelcomeActivity" />

        <activity android:name=".HeartActivity" />
    </application>

</manifest>