<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.jeeves">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7-fA8i8ZRE1ckm7MlDAbkgt22pLLwZTs" />

        <activity android:name=".MainActivity"
>

        </activity>
        <activity
            android:name=".SenseActivity"
            android:launchMode="singleTop" />
        <!-- Stops it restarting -->
        <receiver android:name=".actions.SurveyAction$AlarmManagerBroadcastReceiver"></receiver>

        <service android:name=".actions.SurveyAction$NotificationActionService" />
        <service
            android:name=".ActionExecutorService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UpdateSettingsActivity"
            android:parentActivityName=".SenseActivity" />
        <activity
            android:name=".ContactActivity"
            android:parentActivityName=".SenseActivity" />
        <activity
            android:name=".MissedSurveyActivity"
            android:parentActivityName=".SenseActivity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>